<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EarthquakeListMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.EarthquakeList">
    <!--@mbg.generated-->
    <!--@Table earthquake_list-->
    <id column="eqid" jdbcType="OTHER" property="eqid" />
    <result column="earthquake_name" jdbcType="VARCHAR" property="earthquakeName" />
    <result column="providing_department" jdbcType="VARCHAR" property="providingDepartment" />
    <result column="geom" jdbcType="OTHER" property="geom" />
    <result column="occurrence_time" jdbcType="TIMESTAMP" property="occurrenceTime" />
    <result column="magnitude" jdbcType="VARCHAR" property="magnitude" />
    <result column="depth" jdbcType="VARCHAR" property="depth" />
    <result column="intensity" jdbcType="VARCHAR" property="intensity" />
    <result column="epicenter_name" jdbcType="VARCHAR" property="epicenterName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    eqid, earthquake_name, providing_department, geom, occurrence_time, magnitude, "depth", 
    intensity, epicenter_name, city, province
  </sql>
</mapper>