<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ListTableMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.ListTable">
    <!--@mbg.generated-->
    <!--@Table list_table-->
    <result column="table_name" jdbcType="OTHER" property="tableName" />
    <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    "table_name", table_comment, create_time, update_time
  </sql>
</mapper>