<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ListColumnMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.ListColumn">
    <!--@mbg.generated-->
    <!--@Table list_column-->
    <result column="table_name" jdbcType="OTHER" property="tableName" />
    <result column="column_name" jdbcType="OTHER" property="columnName" />
    <result column="column_comment" jdbcType="VARCHAR" property="columnComment" />
    <result column="is_required" jdbcType="INTEGER" property="isRequired" />
    <result column="is_pk" jdbcType="INTEGER" property="isPk" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="is_increment" jdbcType="INTEGER" property="isIncrement" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    "table_name", "column_name", column_comment, is_required, is_pk, sort, is_increment, 
    column_type
  </sql>
</mapper>