<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TiltphotographymodelMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        <!--@mbg.generated-->
        <!--@Table tiltphotographymodel-->
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="rz" jdbcType="INTEGER" property="rz"/>
        <result column="tz" jdbcType="INTEGER" property="tz"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="rze" jdbcType="SMALLINT" property="rze"/>
        <result column="tze" jdbcType="SMALLINT" property="tze"/>
        <result column="model_size" jdbcType="VARCHAR" property="modelSize"/>
        <result column="geom" jdbcType="OTHER" property="geom"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        name, path, rz, tz, time, uuid, rze, tze, model_size,geom
    </sql>

    <select id="selectAllModel" resultType="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        SELECT *
        FROM tiltphotographymodel ORDER BY name ASC
    </select>

    <insert id="addModel" parameterType="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        INSERT INTO tiltphotographymodel (name, model_size, path, rz, tz, rze, tze, time, uuid)
        VALUES (#{name}, #{modelSize}, #{path}, #{rz}, #{tz}, #{rze}, #{tze}, #{time}, #{uuid})
    </insert>

    <delete id="deleteModel">
        DELETE
        FROM tiltphotographymodel
        WHERE uuid = #{uuid}
    </delete>

    <update id="updataModel" parameterType="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        UPDATE tiltphotographymodel
        SET name = #{name},
            path = #{path}
        WHERE uuid = #{uuid}
    </update>

    <update id="updataModelNoElevation" parameterType="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        UPDATE tiltphotographymodel
        SET tz = #{tz},
            rz = #{rz}
        WHERE uuid = #{uuid}
    </update>

    <update id="updataModelElevation" parameterType="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        UPDATE tiltphotographymodel
        SET tze = #{tze},
            rze = #{rze}
        WHERE uuid = #{uuid}
    </update>

    <update id="updataModels" parameterType="com.ruoyi.system.domain.entity.Tiltphotographymodel">
        UPDATE tiltphotographymodel
        SET name = #{name},
            model_size = #{modelSize},
            path = #{path},
            rz = #{rz},
            tz = #{tz},
            rze = #{rze},
            tze = #{tze},
            time = #{time}
        WHERE uuid = #{uuid}
    </update>

</mapper>
